@{
    ViewData["Title"] = "Informace o aplikaci";
}
<h1>@ViewData["Title"]</h1>

<p>Toto je aplikace SchoolWebApp pro evidenci školních výsledků žáků. Vznikla v kurzu objektově orientovaného programování na VŠB.</p>

<p>Použit je ASP.NET Core MVC, Entity Framework pro práci s MS SQL databází a Identity Framework pro přihlašování.</p>

<p>Chcete-li si vyzkoušet přístupy a oprávnění, použijte následující uživatelská jména:</p>
<ol>
    <li>žáka - uživatelské jméno karel.</li>
    <li>učitele - uživatelské jméno matikar.</li>
    <li>admina - uživatelské jméno admin.</li>
</ol>

<p>Heslem jsou první 4 písmena abecedy (první velké), první 4 číslice (od 1) a na konci tečka.</p>
